// AI-powered search

.ai-search-invisible {
    display: none !important;
}

.ai-search-form {
    display: flex;
    align-items: center;
    height: 30px;
    margin-bottom: 10px;
    padding: 0px 8px 0px 8px;
    border: solid 1px #cccccc;
    border-radius: 3px;
    background-color: #ffffff;
    margin-bottom: 30px;
    margin-right: 1px;
    position: relative;
  
    
    &:hover {
        border-color: #b2bac1;
    }

    #aiSearchField {
        flex-grow: 1;
        margin-right: 7px;
        border: none;
        outline: none;
        font-family: $font-family-base;
        color: #222222;
        background-color: transparent;
    }

    #aiSearchButton {
        height: 30px;
        padding: 0px 12px;
       
        border: none;
        outline: none;
        white-space: nowrap;
        background-color: #b2bac1;
        font-family: $font-family-base;
        color: #ffffff;
        cursor: pointer;
        position: absolute;
        right:-1px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

        &:hover {
            background-color: #8d969d;
        }
    }
}

#aiSearchResultsCurtain {
    z-index: 99;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #000000;
    opacity: 0.7;
}

#aiSearchResultsForm {
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: fixed;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    padding: 20px;
    border: solid 1px #cccccc;
    box-shadow: 0px 0px 5px 3px rgba(68,68,68,1);
    background-color: #ffffff;

    & > header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .ai-search-results-prompt {
            display: flex;
            flex-grow: 1;
            align-items: center;
            height: 40px;
            padding: 0px 2px 0px 10px;
            padding-right: 80px;
            border: solid 1px #cccccc;
            border-radius: 3px;
            background-color: #ffffff;
            font-size: 16px;
            position: relative;

            #aiSearchResultsField {
            flex-grow: 1;
            margin-right: 7px;
            border: none;
            outline: none;
            font-family: $font-family-base;
            color: #222222;
            background-color: transparent;
            }

            #aiSearchResultsButton {
                height: 40px;
                padding: 0px 18px;
               
                border: none;
                outline: none;
                white-space: nowrap;
                background-color: #558fff;
                font-family: $font-family-base;
                font-weight: 600;
                color: #ffffff;
                cursor: pointer;
                position: absolute;
                right:-1px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                &:hover {
                    background-color:#4172d4;
                }
            }
        }

        .ai-search-results-tools {
            margin-left: 15px;

            & > img {
                width: auto;
                height: 25px;
                cursor: pointer;
                opacity: 1;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    & > article {
        flex-grow: 1;
        overflow: auto;
        padding: 10px 0px;
        color: rgb(15, 23, 39);

        #aiSearchResultsPreloader {
            margin-top: 15px;
            text-align: center;

            & > img {
                margin-bottom: 15px;
            }

            & > p {
                color: #666666;
                font-style: italic;
            }
        }

        #aiSearchError {
            display: none;
            font-size: 16px;
            font-weight: 500;
            color: #aa0000;
        }

        pre {
            padding: 10px;
            border: solid 1px #c2c2c2;
            background-color: #f8f9fa;
        }
    }

    & > aside {
        display: none;
        
        padding: 10px 20px;
        border-top: solid 1px #cccccc;
        margin: 0 -20px;
        margin-top: 20px;

        .ai-search-results-title {
            margin-top: 5px;
            margin-bottom: 15px;
            font-weight: 500;
            font-size: 18px;
            color: rgb(15, 23, 39);
        }

        #aiSearchRelatedArticles {
            display: flex;
            flex-wrap: wrap;
            align-items: top;

            #aiSearchRelatedArticleTemplate {
                display: none;
            }

            & > a {
                display: block;
                /* min-width: 200px; */
                margin: 0px 15px 5px 0px;
                padding: 12px 15px;
                border-radius: 3px;
               
                text-decoration: none;
                white-space: nowrap;
                overflow: hidden;
                background-color: #f3f5f7;

                &:hover {
                    text-decoration: none;
                    
                }
            }
        }
    }
}
