baseURL                     = "https://docs.groupdocs.com/"
languageCode                = "en"
title                       = "GroupDocs"
theme                       = "hugo-geekdoc"

disableKinds                = ["RSS", "sitemap", "categories", "tags", "taxonomy", "taxonomyTerm"]


# (Optional) Set this to true to enable 'Last Modified by' date and git author
#  information on 'doc' type pages.
enableGitInfo               = false


# Geekdoc required configuration
pygmentsUseClasses = true
pygmentsCodeFences = true
disablePathToLower = true
pluralizeListTitles = false


# Markup configure section
# See https://gohugo.io/getting-started/configuration-markup/
[markup]
    defaultMarkdownHandler  = "goldmark"    
    [markup.goldmark.renderer]
        unsafe              = true
    [markup.tableOfContents]
        startLevel          = 1
        endLevel            = 4
        ordered             = false
    [markup.highlight]        
        style               = "github"

[outputs]
    home                    = [ "HTML", "SITEMAP", "JSON", "MD"]
    section                 = [ "HTML", "MD" ]
    page                    = [ "HTML", "MD" ]

[outputFormats.SITEMAP]
    MediaType               = "application/xml"
    BaseName                = "product-sitemap"
    IsHTML                  = false
    IsPlainText             = true
    noUgly                  = true
    Rel                     = "sitemap"

[mediaTypes."text/markdown"]
    suffixes                = ["md"]

[outputFormats.MD]
    mediaType               = "text/markdown"
    isPlainText             = true
    isHTML                  = false
    notAlternative          = true
    permalinkable           = false

[Params]
    contentDir              = "content"
    google_tag_manager_id   = "GTM-WZTNN8"
    sitemapMax              = 49999

    disableSearch           = false

    aiSearchEndpoint        = "https://docsearch.api.aspose.cloud/ask"
    aiSearchScopes          = [ "annotation_net",  "annotation_java",  
                                "assembly_net",  "assembly_java", 
                                "classification_net",
                                "comparison_net", "comparison_java", "comparison_python-net", "comparison_nodejs-java",
                                "conversion_net", "conversion_java", "conversion_python-net", "conversion_nodejs-java",
                                "editor_net",  "editor_java", "editor_nodejs-java",
                                "merger_net",  "merger_java",
                                "metadata_net", "metadata_java",
                                "parser_net", "parser_java",
                                "redaction_net", "redaction_java",
                                "search_net", "search_java",
                                "signature_net", "signature_java",
                                "viewer_net", "viewer_java", "viewer_python-net", "viewer_nodejs-java",
                                "watermark_net", "watermark_java", "watermark_python-net", "watermark_nodejs-java",
                                "total_net",   "total_java"
                            ]

    # Collapse not active menu items by default
    GeekdocCollapseAllSections  = true
    # Disable default Hugo search
    GeekdocSearch               = false
    # Show GroupDocs search input
    showSearchInput             = true

    # Set source repository location.
    # Used for 'Last Modified' and 'Edit this page' links.
    GitHubRepo              = 'https://github.com/groupdocs/docs'
    
    # Enable 'Edit this page' links for 'doc' page type.
    # Disabled by default. Uncomment to enable. Requires 'GitHubRepo' param.    
    GitHubEditPath          = 'edit/master'   

    GitHubDateFormat        = 'January 2, 2006'

[Params.Sitemap]
	changeFreq              = "weekly"
	priority                = 0.5

# Redirects configuration
# Temporary redirect: all pages under /parser/python-net/* redirect to /parser/python-net/
[[redirects]]
  from = "/parser/python-net/**"
  to = "/parser/python-net/"
  status = 302
  force = false