baseURL                     = "https://docs.groupdocs.com/"
languageCode                = "en"
title                       = "Documentation"
theme                       = "hugo-geekdoc"

disableKinds                = ["RSS", "sitemap", "categories", "tags", "taxonomy", "taxonomyTerm"]


# (Optional) Set this to true to enable 'Last Modified by' date and git author
#  information on 'doc' type pages.
enableGitInfo               = false


# Geekdoc required configuration
pygmentsUseClasses = true
pygmentsCodeFences = true
disablePathToLower = true
pluralizeListTitles = false


# Markup configure section
# See https://gohugo.io/getting-started/configuration-markup/
[markup]
    defaultMarkdownHandler  = "goldmark"    
    [markup.goldmark.renderer]
        unsafe              = true
    [markup.tableOfContents]
        startLevel          = 1
        endLevel            = 4
        ordered             = false
    [markup.highlight]        
        style               = "github"

[outputs]
    home                    = [ "HTML", "SITEMAP"]
    section                 = [ "HTML" ]
    page                    = [ "HTML" ]

[outputFormats.SITEMAP]
    MediaType               = "application/xml"
    BaseName                = "product-sitemap"
    IsHTML                  = false
    IsPlainText             = true
    noUgly                  = true
    Rel                     = "sitemap"

[Params]
    contentDir              = "content"
    google_tag_manager_id   = "GTM-WZTNN8"
    sitemapMax              = 49999

    disableSearch           = false

    # Collapse not active menu items by default
    GeekdocCollapseAllSections  = true
    # Disable default Hugo search
    GeekdocSearch               = false
    # Show GroupDocs search input
    showSearchInput             = true

    # Set source repository location.
    # Used for 'Last Modified' and 'Edit this page' links.
    GitHubRepo              = 'https://github.com/groupdocs/docs'
    
    # Enable 'Edit this page' links for 'doc' page type.
    # Disabled by default. Uncomment to enable. Requires 'GitHubRepo' param.    
    GitHubEditPath          = 'edit/master'   

    GitHubDateFormat        = 'January 2, 2006'

[Params.Sitemap]
	changeFreq              = "weekly"
	priority                = 0.5
