<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  <base href="{{ .Site.BaseURL }}">
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }} 
</head>

<body>  
    <main style="display: flex;">   
        <div class="navHome"></div>
        <div style="display: flex; flex: 2 0 30rem; flex-direction: column; padding-right: 130px; margin-left: 5px;">
            
            <div class="sectionName">PRODUCTS</div>

            {{ range sort .Site.Params.ProductFamilies "Name" }}        
            {{ partial "home-product" . }}
            {{ end }}               
            <div style="margin-bottom: 100px;">
                </div>

        </div>

        <div style="display: flex; flex: 0 0 25rem; flex-direction: column;">
            
            <div class="sectionName" style="display: flex;">MORE</div>
            <div class="btn-container">        
                {{ range sort .Site.Params.MoreServices "Name" }}        
                    {{ partial "more-services" . }}
                {{ end }}             
            </div>
        </div>            
    </main>
    <footer>
    {{ partial "docs/html-footer" . }}
    </footer>
</body>
</html>
