$primary:       #007bff;
$secondary:     #6610f2;
$success:       #28a745;
$info:          #17a2b8;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #343a40;

@import "bootstrap/bootstrap";
@import "groupdocs-custom";

/* Typography styling */
.main > h1{
    padding-top: 2rem;
}

.main > h2{
    padding-top: 4rem;
    margin-top:-1rem;   
}

.main > h3, .main > h4, .main > h5, .main > h6{
    padding-top: 4rem;
    margin-top:-3rem;
}

.main p img
{
     max-width: 100%;
}

.haschildren ul{
    color: gray;
    display:none;
}

.haschildren.active ul, .haschildren.parent ul{
    display:block;
}



.highlight > pre {
    padding:15px;
    background-color: #fff;
    
    border: 1px solid;    
    border-color:  #dee2e6;
    border-radius: 0 0 0.25rem 0.25rem;
}

.docs-sidenav{ 
    overflow-y: auto; // CUSTOM
}
/* Side navigation menus */
.docs-sidenav span.badge.badge-primary, .docs-toc span.badge.badge-primary{
    font-size: 10px;
}


.docs-toc{
    padding-top: 10px;
}

.docs-toc a{
    font-size: 14px;
    color: gray;
}

.docs-toc a:hover{
    color: #333;
}

.docs-toc ul{
    list-style: none;
    padding-left:8px;
    margin-top:3px;
}

.docs-toc ul:first-child{
    padding-left:0;
}

/* Table tweak for JavaScript methods */
table td:first-child > code{
    word-break: normal;
}

table > tbody > tr > td, .bd-content > table > tbody > tr > th, .bd-content > table > tfoot > tr > td, .bd-content > table > tfoot > tr > th, .bd-content > table > thead > tr > td, .bd-content > table > thead > tr > th {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}