@media (max-width: 1109px) {
    
    #top-container{
        padding: 20px 0;
        margin-top: 60px;
    }

    #content-container{
        width: 100%;
    }

    #support-buttons-container{
        display: none;
    }

    .product-row{
        border-radius: 0;
    }

    .product-container{
        width: 100%;
    }

    .product-splitter{
        display: none;
    }

    /* search icon fix */
    
    .topsearchbox{
        position: absolute;
        right: 0;
        top: -40px;
        padding: 0;
        margin: 0;
        float: none;
    }
}

