/* You can add custom styles here. */

.gdoc-icon-large {
    width: 2.25rem !important;
    height: 2.25rem !important;
}

.home-resource-link {
    color: var(--body-font-color) !important;
}

.gdoc-icon.windows {
    color: #028cda !important;
}
.gdoc-icon.java {
    color: #ba3e5b !important;
}

a > svg.gdoc-icon { margin-right: 5px; }
li > svg.gdoc-icon { margin-right: 5px; }
h1 > svg.gdoc-icon { margin-right: 5px; }
h2 > svg.gdoc-icon { margin-right: 5px; }
h3 > svg.gdoc-icon { margin-right: 5px; }
h4 > svg.gdoc-icon { margin-right: 5px; }
h5 > svg.gdoc-icon { margin-right: 5px; }

/* img shortcode image container margins  */

.gdoc-post__figure {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* main page */
.gdocs-main-icons {padding: 0 2rem; gap:0; margin-bottom: 2rem;}
.gdocs-main-icons .gdoc-columns__content {min-width: 6rem;}
.gdocs-main-icons svg.gdoc-icon { margin-right: 0; margin-bottom: 0.8rem; }
.gdocs-main-app {margin: 1rem 0;}
.gdocs-main-app__first {justify-content: center; }
.gdocs-main-app__first .gdoc-columns__content {flex:0.5;}

@media print {
    #DynabicMenuInnerDiv{ display:none; }
    #dvMenuFooter{ display:none; }
}

/* tab-text shortcode */

.gdoc-tab-text {
    padding: 1rem;
}

/* two columns */

.gdoc-two-columns {
    display: flex;
    margin-bottom: 0px;
    justify-content: flex-start;
}

.gdoc-two-columns__column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
}

ul.gdoc-two-columns__column__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 0;
}

ul.gdoc-two-columns__column__list > li {
    text-align: left;
    padding-left: 1rem;
    padding-top: 0 !important;
    margin-bottom: 0;
    display: flex;
}

.gdoc-two-columns__column__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--body-font-color);
    margin-right: 1rem;
}

a.gdoc-two-columns__column__link {
    color:var(--body-font-color);
    border-bottom: none !important;
}

.gdoc-two-columns__column__descr {
    color:var(--body-text-font-color);
    font-size: 0.875rem;
}

/* table-search shortcode */

.gdoc_search_abs {
    position: absolute !important;
    left: .5rem;
    color: var(--control-icons);
}