/* You can add custom styles here. */

.gdoc-icon-large {
    width: 2.25rem !important;
    height: 2.25rem !important;
}

.home-resource-link {
    color: var(--body-font-color) !important;
}

.gdoc-icon.windows {
    color: #028cda !important;
}
.gdoc-icon.java {
    color: #ba3e5b !important;
}

a > svg.gdoc-icon { margin-right: 5px; }
li > svg.gdoc-icon { margin-right: 5px; }
h1 > svg.gdoc-icon { margin-right: 5px; }
h2 > svg.gdoc-icon { margin-right: 5px; }
h3 > svg.gdoc-icon { margin-right: 5px; }
h4 > svg.gdoc-icon { margin-right: 5px; }
h5 > svg.gdoc-icon { margin-right: 5px; }


/* footer styles */

.footercol .socialicon .fa-pinterest {
    background-position: -5px -390px!important;
}

.footercol .socialicon .fa-tumblr {
    background-position: -5px -420px!important;
}

.footercol .socialicon .fa-instagram {
    background-position: -5px -450px!important;
}

/* img shortcode image container margins  */

.gdoc-post__figure {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

@media print {
    #DynabicMenuInnerDiv{ display:none; }
    #dvMenuFooter{ display:none; }
}

