
@media screen and (min-width: 1500px) {

    .gdoc-nav nav {
        width: 18rem;
    }
    .gdoc-toc {flex: 0 0 18rem;}

}


@media screen and (max-width: 1350px) {

    .gdoc-list-app {
        width: 50%;
    }

    .gdoc-list-app__descr {
        min-height: 7.5rem;
    }

}



@media screen and (max-width: 1300px) {
    .gdoc-toc {display: none;}
    .gdoc-toc-mobile {display: block;}
    .gdoc-menu__sub {display: none;}

    .gdoc-resources {
        flex-wrap: wrap;
    }

    .gdoc-resource {width: 33%;}
}



@media screen and (max-width: 1140px) {
    .gdoc-list-app__descr {
        min-height: 8.5rem;
    }

   
}

@media screen and (max-width: 1024px) {
    .gdoc-header__menu {display: none;}
    .gdoc-footer__menu {display: none;}
    .gdoc-markdown__align--left {max-width: 100%;}
    .gdoc-gotop {display: none;}
    .gdoc-feedback-link__label {display: none;}
    .gdoc-feedback-link__icon {margin-top: 6px;}
    

    .gdoc-product-docs, .gdoc-product-examples {
        flex-wrap: wrap;
    }

    .gdoc-product-doc, .gdoc-product-example {width: 100%;}

    .gdoc-product-doc {padding: 0;}

    .gdoc-product-example--mobile-fix {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 1024px) {
    html {font-size: 14px;}
    
    .gdoc-nav__control--none {
        display: block;
    }

    .gdoc-nav nav {
        width: 19rem;
    }
    .gdoc-nav {
        margin-left: -20rem;
        font-size: 14px;
        line-height: 20px;
    }
    .gdoc-nav__control {
        display: inline-block 
   }
    .gdoc-header svg.gdoc-icon {
        width: 1.5rem;
        height: 1.5rem 
   }
    .gdoc-brand {
        font-size: 1.5rem;
        line-height: 1.5rem 
   }
    .gdoc-brand__img {
        display: none 
   }
    .gdoc-menu-header__items {
        display: none 
   }
    .gdoc-menu-header__control, .gdoc-menu-header__home {
        display: flex 
   }
    .gdoc-error {
        padding: 6rem 1rem 
   }
    .gdoc-error svg.gdoc-icon {
        width: 6rem;
        height: 6rem 
   }
    .gdoc-error__message {
        padding-left: 2rem 
   }
    .gdoc-error__line {
        padding: .25rem 0 
   }
    .gdoc-error__title {
        font-size: 2rem 
   }
    .gdoc-page__header .breadcrumb, .hidden-mobile {
        display: none 
   }
    .flex-mobile-column {
        flex-direction: column 
   }
    .flex-mobile-column.gdoc-columns {
        margin: 2rem 0 
   }
    .flex-mobile-column .gdoc-columns__content {
        min-width: auto;
        margin: 0 
   }
    #menu-control:checked~main .gdoc-nav nav, #menu-control:checked~main .gdoc-page {
        transform: translateX(20rem) 
   }
    #menu-control:checked~main .gdoc-page {
        opacity: .25 
   }
    #menu-control:checked~* .gdoc-nav__control svg.gdoc-icon.gdoc_menu {
        display: none 
   }
    #menu-control:checked~* .gdoc-nav__control svg.gdoc-icon.gdoc_arrow_back {
        display: inline-block 
   }
    #menu-header-control:checked~* .gdoc-nav__control svg.gdoc-icon.gdoc_keyboard_arrow_left {
        display: none 
   }
}


@media screen and (max-width: 768px) {
    html {font-size: 14px;}
    .gdoc-markdown code {
        padding: 0.125rem 0.4rem;
    }


    .gdoc-footer__bottom {display: block;}
    .gdoc-footer__copy {
        
        margin-bottom: 0.875rem;
    }

    .gdoc-list-app {
        width: 100%;
    }

    .gdoc-list-app__descr {
        min-height: unset;
        margin-bottom: 2.5rem;
    }

    .gdoc-resource {width: 50%;}

    ul.gdoc-product-example__list {
        align-self: flex-start;
    }

    .wrapper-bg {
        background-image: none;
    }

    .gdoc-list-descr {
        margin-bottom: 10rem;
    }

    .gdoc-platform__cols {
        flex-direction: column;
        gap:4rem;
    }
    .gdoc-platform__col {width:auto;}
    .gdoc-platform__header {
        flex-direction: column;
        gap: 1.5rem;
    }
    .gdoc-platform__header-icon {
        margin-right: 0;
    }

    a.gdoc-platform__header-btn {
        display: none;
    }

    .gdoc-platform__footer {
        display: block;
    }
}
